.red {
    color: #D6291C;
}

.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.element {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.image {
    position: absolute;
    padding: 8px;
    width: 200px;
}

.border {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 4px dotted #D6291C;
    border-radius: 100%;
    animation: rotation 50s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}


.text h1 {
    font-size: 22px;
    margin: 10px;
}

.tracking {
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}

.circle {
    background-color: #D6291C;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.circle2 {
    background-color: #D6291C;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-left: 15px;
}

.button2 {
    background-color: white;
    padding: 10px 25px;
    border-radius: 100px;
    border: none;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}

.button2:hover{
    background-color: #D6291C;
    color: white;
}

.links{
    display: flex;
    font-size: 10px;
    align-items: center;
    margin: 20px 0px;
}

.links a {
    margin: 3px;
}

.notaMusical1 {
    width: 30px;
    position: absolute;
    top: 120px;
    right: 50px;
    animation: bounce 1s infinite ease-in-out alternate;
}

.notaMusical2 {
    width: 30px;
    position: absolute;
    top: 300px;
    left: 25px;
    animation: bounce 1s infinite ease-in-out alternate;
}

.notaMusical3 {
    width: 35px;
    position: absolute;
    bottom: 60px;
    right: 40px;
    animation: bounce 1s infinite ease-in-out alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(10px);
    }
}