@font-face {
    font-family: 'Moranga';
    src: url('Moranga-Regular.woff2') format('woff2'),
         url('Moranga-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}