* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Moranga'; */
}

.app {
    height: fit-content;
    position: absolute;
    background-image: url(./Assets/background-mobile.jpg);
    background-size: cover;
    background-attachment: fixed;
    max-width: 100vw;
    overflow: hidden;
}

